$principal-color: #32b3b9;
$font-family: 'Roboto', sans-serif;
$text-color: #666;
$color-header: #f6f6fb; 
$color-border: #ebebeb;
$width-lg: 1200px;
$width-md: 992px;
$width-sm: 768px;
$width-xs: 480px;


html, body, main {
  width: 100%;
  height: 100%;
  color: $text-color;
  font-family: $font-family;
}

a{
	text-decoration: none;
}

header {
	background: $color-header;
	padding: 15px 14% 0;

	nav{
		position:relative;
		border-bottom: 5px solid $principal-color;
		padding-bottom: 10px;

		#brand img{
			max-height: 70px;
		}
	}
	
	#nav-toggle{	
		float: right;
		margin-top: 20px;
		border: 1px solid $color-border;
		padding: 7px;
		color: $text-color;
		display: inline-block;

		@media screen and (min-width: $width-md) {
			display: none;
		}

		
	}
		
}

.nav-header{
	display: inline-block;
	float: right;
	list-style-type: none;
	font-family: $font-family;
	font-weight: 500;
	font-size: 14px;

	li{
		float: left;
		padding: 8px 20px;
		border: 1px solid $color-header;

		i{
			font-size: 20px;
			color:  $principal-color;
			margin-left: 2px;
		}

		.title-menu{
			text-transform: uppercase;
		}
	}

	li:hover{
		border: 1px solid $color-border;
		background: $color-header;
		cursor: pointer;
	
		.title-menu{
			color: $principal-color;
		}
	}

	li:first-child{
		margin-left: 0;	
	}

	li.change-dropdown{
		position: relative;
		z-index: 5;

		ul.dropdown{
			display: none;
			position: absolute;
			padding: 0;
			background: $color-header;			
			border: 1px solid $color-border;
			border-top: 0;
			list-style-type: none;
			left: -1px;
			top: 100%;
			right: -1px;

			li{
				float: initial;
				margin-left: 0; 
				border: 0;

			}
		}
	}	

	li.change-dropdown:hover ul.dropdown{
		display: block;
		
		a{
			color: $text-color;
		}

		li:hover a{
			color: $principal-color;

		}
	}

	@media screen and (max-width: $width-md) {
		display: none;
	}	
}

.nav-header.open-dropdown{
    display: inline-block;
    position: absolute;
    top: 40px;
    right: 0;
    background: #fff;
    padding: 0;
    text-align: right;

	li{
		float: none;

		ul.dropdown{	
			position: initial;						
			border: none;
		}
	}
}

section.pattern{
	height: 90%;
}

.vertical-align{
	display:table-cell;
	vertical-align:middle;

	div{
		text-align: center;
	}
}

.each-section{	
	text-align: center;
	color: #fff;

	h1{		
		text-transform: uppercase;
		letter-spacing: -1px;
		display: inline-block;
		border: 6px solid;
		padding: 30px;
		font-size: 55px;
		margin-top: 0;
	}

	span{
		width: 40%;
		display: block;
		margin: 0px auto;
	}
}

#section-initial{
	background: url(../images/casal2.jpg), RGBA(20, 129, 135, 0.6);
	background-repeat: no-repeat, repeat-x;
	-webkit-background-size: cover, cover;
	-moz-background-size: cover, cover;
	-o-background-size: cover, cover;
	background-size: cover, cover;	
	background-position: bottom center, bottom center;
	background-blend-mode: multiply, normal;
	-webkit-blend-mode: multiply, normal; 
	z-index: -1;
	height:100%;
	width: 100%;
	display: table;	
}	

#section-second{
	background: url(../images/menina1.jpg), RGBA(20, 129, 135, 0.6);
	background-repeat: no-repeat, repeat-x;
	-webkit-background-size: cover, cover;
	-moz-background-size: cover, cover;
	-o-background-size: cover, cover;
	background-size: cover, cover;	
	background-position: bottom center, bottom center;
	background-blend-mode: multiply, normal;
	-webkit-blend-mode: multiply, normal; 
	z-index: -1;
	height:100%;
	width: 100%;
	display: table;
}


#banner{
	margin-bottom: 0;

	.slick-next{
		right: 40px; 
	}

	.slick-prev{
		left: 40px;
	}	

	.slick-list.draggable, .slick-track{
		height:100%;
	}	

	.slick-next, .slick-prev{
		z-index: 5;
		width: 30px;
		height: 50px;
	}

	.slick-prev:before {
	  content: "\f104";
	  font: normal normal normal 14px/1 FontAwesome;
	  font-size: 50px;
	}

	.slick-next:before {
	  content: "\f105";
	  font: normal normal normal 14px/1 FontAwesome;
	  font-size: 50px;
	}
}





